.About{
    background-image: url("http://localhost:3000/Photo/summary.png");
    width: 100%;
    min-height: 500px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px!important;

}


.AboutName{
    font-family: "Roboto Condensed";
    font-weight: 600;
    color: #C23272;
    font-size: 28px;
}

.AboutDescription{
    font-family: "Roboto Condensed";
    font-weight: 600;
    font-size: 20px;
}

@media screen and (max-width: 480px) {

    .AboutName{

        font-weight: 600;
        color: #C23272;
        font-size: 30px;
        text-align: center;
    }

    .AboutDescription{
        font-family: "Roboto Condensed";
        font-weight: 600;
        font-size: 20px;
        text-align: left;
    }

    .About{

        width: 100%!important;
        min-height: 500px;

        text-align: justify;
        padding: 1px!important;
    }
}