.skillDescription{
    font-size: 25px!important;
    text-align: justify;
    font-family: "Roboto Condensed";
    margin-right: 0!important;
    position: relative;
    right: 20px!important;
}




@media screen and (max-width: 480px) {

    .skillDescription {
        font-size: 20px !important;
        padding: 0 !important;
        margin-left: 0!important;
        margin-right: 0!important;
        text-align: center!important;
        position: relative;
        right: 20px!important;

    }
    .progressText{
    
    font-size: 10px!important;
    
    }

    .PDF{
        height: 500px!important;
    }
}

@media screen and (max-width: 390px) {

    .PDF{
        height: 400px!important;
    }

}