.serviceImg{
    width: 100%!important;
    height: 300px!important;
    border: 2px saddlebrown solid;
}
.ServiceName{
    font-family: "Roboto Condensed";
    font-weight: 600;
    color: #C23272;
    font-size: 28px;
    margin-top: 10px!important;
}
.ServiceDescription{
    font-family: "Roboto Condensed";
    font-weight: 600;
    font-size: 20px;

}

.service{
    background-image: url("http://localhost:3000/Photo/summary.png");
    width: 100%;
    min-height: 500px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 100px!important;

}



@media screen and (max-width: 480px) {


    .serviceImg{
        width: 100%!important;
        height: 200px!important;
        border: 2px saddlebrown solid;
    }


    .service{


        padding: 30px!important;


    }
}