.topFixedPage1{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
    min-height: 300px!important;

    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat!important;
    background-size: cover;


}

.topPageOverly{
    position: absolute;
    min-height: 280px;
    width: 100%;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));

}

.topPageContent{
    margin-top: 10rem;
}
.topPageTitle{
  font-family: "Roboto Condensed";
    font-weight: 700;
    color: white;

}



.form-control:focus {
    border-radius: 2px !important;
    border-color: #0a58ca !important;
    background: rgb(255, 255, 255) !important;
}


